<a class="nav-link" href="/login">Главная страница</a>


{{#catalog}} <img src="/catalog/{{id}}/image" class="img-fluid" width="250" height="250" alt="">{{/catalog}}
{{#result}}{{{itName}}}
<img src="/catalog/{{id}}/image" width="350" height="350" alt="">
{{/result}}