
<!doctype html>
<html lang="ru">
<head>
    <title>Кузовной ремонт и покраска автомобиля!  Кузовной ремонт. Покраска. Полировка. Удаление
        царапин фар. Ремонт бампера. Рихтовочные работы.</title>
    <meta name = "description" content = "В Autoluxmisk оцените наши работы, сдесь вы всегда сможете покрасить ваш авто качественно и в минимальный срок!
    Наш адрес: г. Минск ул. Щедрина, 82. Кузовной ремонт. Покраска. Полировка. Удаление
    царапин фар. Ремонт бампера. Рихтовочные работы. Удаление ржавчины. Удаление коррозии." />
    <meta name = "keywords" content = "Наши работы. Кузовной ремонт. Покраска. Полировка. Полировка кузова автомобиля. Полировка автомобиля. Удаление
    царапин фар. Ремонт бампера. Рихтовочные работы. Удаление ржавчины. Удаление коррозии." />
    <meta name = "robots" content = "index, follow" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/examples/vendors/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
<div class="row">
<div class="col-md-6">
<div class="card-deck mx-auto mb-3" style="max-width: 300px;">
    <!-- Изображение -->
    {{#result}}
        <img class="card-img-top" src="/catalog/{{id}}/image" width="350" alt="...">
        <!-- Текстовый контент -->
        <div class="card-body">
            <p class="card-text">{{itName}}</p>
            <a href="/login" class="btn btn-primary">Перейти на главную страницу</a>
            <p> </p>
        </div>
    </div><!-- Конец карточки -->
    </div>
    </div>
    {{/result}}
</div>

<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- Popper -->
<script src="/examples/vendors/popper.js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/examples/vendors/bootstrap-4/js/bootstrap.min.js"></script>
</body>
</html>










