<img src="/catalog/19/image"  width="150" height="150" alt="">
<img src="/catalog/19/image" width="450" height="150" alt="">
{{#catalog}} <img src="/catalog/{{id}}/image" class="img-fluid" width="150" height="150" alt="">{{/catalog}}
{{#result}}{{{itName}}}
<img src="/catalog/{{id}}/image" width="150" height="150" alt="">
{{/result}}